button, .btn
  color #333
  border 4px solid #333
  cursor pointer
  padding buttonPadding
  border-radius 1px
  display inline-block
  font-family 'brandon_textbold', sans-serif
  text-transform uppercase
  background-color transparent

.btn,
button
  color #333 !important
  display inline-block
  text-decoration none !important
  transition .5s ease-in-out
  &:hover
    opacity 1 !important
    color white !important
    background-color darken(callToColor, 20%)
    border 4px solid darken(callToColor, 20%)
.btn-2
  &:hover
    opacity 1 !important
    color darken(callToColor, 20%) !important
    background-color white
    border 4px solid white
    
.button-bar
  button
    border-left 1px solid canvas
  button:first-child
    border-radius 4px 0 0 4px
    border-left none
  button:last-child
    border-radius 0 4px 4px 0

button:hover, .btn:hover
  opacity 0.8