#mc_embed_signup
  clear:left
  font-family: 'maax', sans-serif
  font-weight: 'bold'
  position relative
  padding 15px
  label
    display block
    font-size 16px
    padding-bottom 10px
    font-weight bold
  input
    font-size 15px
    display block
    padding 0 0.4em
    margin: 0 4% 10px 0
    min-height 32px
    width 58%
    min-width 130px
    border 1px solid black
  input#mc-embedded-subscribe
    border none
