#mc_embed_signup
  clear:left
  font-family: 'maax', sans-serif
  font-weight: 'bold'
  position relative
  padding 15px
  label
    display block
    font-size 16px
    padding-bottom 10px
    font-weight bold
  input
    padding 0 0.4em
  input#mc-embedded-subscribe
    border none
