html,body
	-webkit-overflow-scrolling touch !important
	width 100%
	overflow-x hidden


.main.home
	padding 0px 40px
	.blocks-a
		float left
		width 100%
	.blocks-b
		float left
		width 50%
	section
		color black
		position relative
		padding homePadding
		overflow hidden
		div.box
			height 100%
			width 100%
			display flex
			flex-direction column
			border 5px solid #F8A531
			padding 0px
			overflow hidden
			ul
				list-style none
			div.box-content
				flex-grow 1
				height 10%
				width 100%
				display flex
				align-items center
				background-position center
				background-repeat no-repeat
				background-size 100% auto
				transition .2s ease-in-out
				background-size contain
			div.fit
				transform scale(0.9)
				&:hover
					transform scale(0.95)
			div.cover
				background-size cover
				&:hover
					transform scale(1.05)
			div.section-bar
				display flex
				div.text-container
					width 80%
					padding 1em
					p
						font-size 1.25em
						font-weight 500
						em
							color projectColor
				div.text-container.full-width
					width 100%
				div.text-container.empty
					width 0%
				div.logo-container
					flex-grow 1
					position relative
					div
						position absolute
						width 100%
						height 100%
						bottom 0px
						right 15px
						background-size contain
						background-position center
						background-repeat no-repeat
					div.funky
						height 200%
				div.logo-container.full-width
					width 100%
			h3
				font-weight 500
				em
					color projectColor
			ul
				li:before
					content: "\00BB \0020"
					color projectColor
					font-size 1.5em
					font-weight 700
		div.box.tagline
			font-size 1.75em
			border none
			display flex
			align-items center
			justify-content:center
			p
				text-align center
				cursor pointer
				transition .2s ease-in-out
				transform scale(0.95)
				&:hover
					transform scale(1.0)
			em
				color projectColor
	div.middle-bar
		display flex
		flex-direction row-reverse
	section.sjaak
		padding-bottom 0px
	section.map
		padding-top 0px

//agenda overview page
.main.agenda
	display flex
	flex-direction column
	align-items center
	section
		max-width maxContentWidth
		padding 0px 40px
		.box
			.info-left
				width 20%
				min-width 20%
			.info-right
				margin-left 15px
				border 5px solid projectColor
				.short-info
					padding 10px
	section.form-section
		width 100%
		max-width 100%
		background #522e90
		padding 20px 20px

//date location in agenda item
.location
	border 5px solid #4F2D8C
	background-color #4F2D8C
	color white
.date
	border 3px solid projectColor

//news overview page
.main.news
	padding 0px 40px
	display flex
	flex-direction column
	align-items center
	section
		max-width maxContentWidth
		padding homePadding
		.box
			border 5px solid projectColor
			padding 0px
			.short-info
				padding 10px

//
.main.news, .main.agenda
	a
		width 100%
		text-decoration none
	.short-info
		width 66%
	.image
		width 34%
		background-position center
		background-repeat no-repeat
		background-size contain
	.challenge
		.image
			width 50%
	.image.cover
		background-size cover
	.box
		p
			min-height 150px

//hero
.hero
	height 33vh
	width 100%
	background-position center
	background-repeat no-repeat
	background-size: contain
.hero.cover
	background-size: cover

//agenda item page
.main.agenda-item, .main.news-item
	display flex
	flex-direction column
	align-items center
	section
		width 100%
		padding homePadding
		.hero
			border 5px solid projectColor
	section.content
		max-width maxContentWidth
		.info
			justify-content space-between
		p
			margin 1em 0
			em
				font-style italic
				color projectColor
		p:nth-of-type(1)
			font-size 1.5em
			color projectColor
			font-weight 500
		ul
			li
				p:nth-of-type(1)
					font-size 1em
					color black
					font-weight 400
		figure
			img
				margin-top 20px
				margin-bottom 20px
		figure.small
			img
				width 50%
		figure.medium
			img
				width 75%
		figure.full
			img
				width 100%
		figure.center
			img
				margin 20px auto
				display block
	section.form-section
		width 100%
		background #522e90

section.form-errors
	background #DA0812
	width 100%

.move-on-up
	display inline
	position relative
	top 0px

footer
	padding 20px
	float left
	width 100%
	border-top 1px solid white
	z-index 3
	position relative
	p
		margin 0
		opacity .8
		font-size 1em
	svg
		stroke none
	svg
		max-width 150px
		float left
		opacity .6
	.st1
		fill white

.logo-bar
	padding 20px 60px

.partners
	display flex
	flex-wrap wrap
	a
		width 50%
		color white

.leaflet-popup-content
	font-size 1.3em
	line-height 2em
