html,body
	-webkit-overflow-scrolling touch !important
	width 100%
	overflow-x hidden


.main.home
	section
		color black
		position relative
		padding homePadding
		overflow hidden
		div.box
			height 100%
			width 100%
			display flex
			flex-direction column
			border 5px solid #F8A531
			padding 0px
			overflow hidden
			div.box-content
				flex-grow 1
				height 10%
				width 100%
				display flex
				align-items center
				background-position center
				background-repeat no-repeat
				background-size 100% auto
				transition .2s ease-in-out
				background-size contain
			div.fit
				transform scale(0.9)
				&:hover
					transform scale(0.95)
			div.cover
				background-size cover
				&:hover
					transform scale(1.05)
			div.section-bar
				display flex
				div.text-container
					width 80%
					padding 1em
					p
						font-size 1.25em
						font-weight 500
						em
							color projectColor
				div.text-container.full-width
					width 100%
				div.text-container.empty
					width 0%
				div.logo-container
					flex-grow 1
					position relative
					div
						position absolute
						width 100%
						height 100%
						bottom 0px
						right 15px
						background-size contain
						background-position center
						background-repeat no-repeat
					div.funky
						height 200%
				div.logo-container.full-width
					width 100%
		div.box.tagline
			font-size 2em
			border none
			display flex
			align-items center
			justify-content:center
			p
				text-align center
				cursor pointer
				transition .2s ease-in-out
				&:hover
					transform scale(1.05)
			em
				color projectColor
	div.middle-bar
		display flex
		flex-direction row-reverse
	section.sjaak
		padding-bottom 0px
	section.map
		padding-top 0px

//agenda overview page
.main.agenda
	display flex
	flex-direction column
	align-items center
	section
		max-width 900px
		padding 0px homePadding
		.box
			.info-left
				width 20%
				min-width 20%
			.info-right
				margin-left 15px
				border 5px solid projectColor
				.short-info
					padding 10px

//date location in agenda item
.location
	border 5px solid #4F2D8C
	background-color #4F2D8C
	color white
.date
	border 5px solid projectColor

//news overview page
.main.news
	display flex
	flex-direction column
	align-items center
	section
		max-width 800px
		padding homePadding
		.box
			border 5px solid projectColor
			padding 0px
			.short-info
				padding 10px

//
.main.news, .main.agenda
	.image
		width 34%
		background-position center
		background-repeat no-repeat
		background-size contain
	.image.cover
		background-size cover

//hero
.hero
	height 400px
	width 100%
	background-position center
	background-repeat no-repeat
	background-size: contain
.hero.cover
	background-size: cover

//agenda item page
.main.agenda-item, .main.news-item
	display flex
	flex-direction column
	align-items center
	section
		width 100%
		padding homePadding
		.hero
			border 5px solid projectColor
	section.content
		max-width 800px
		.info
			justify-content space-between
		p
			margin 1em 0
		p:nth-of-type(1)
			font-size 1.5em
			color projectColor
			font-weight 500
		img
			width 100%


/*
.text
	width 100%
	padding 80px 0
	font-size 1em
	ul
		list-style-type square
		padding-left 3em
		margin 0 0 3.14285714285714em
		li
			margin 0 0 0.785714em
	ol,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul
		font-size 1.4em
		max-width 800px
		margin-left auto
		margin-right auto
		text-transform none
	p
		color #333
		strong
			font-family 'maax', sans-serif
			font-weight 700

	p:nth-of-type(1)
		font-family: inherit
		color #7F6C6C
		font-size 1.6em
	figure
		margin 80px auto
		width 80%
		figcaption
			margin 2em
			color projectColor
			border 4px solid projectColor
			display inline-block
			padding 2em
	img
		width 100%
	figure.full
		width 100%
	figure.small
		width 40%
	figure.medium
		width 60%
		max-width 800px */

footer
	padding 30px 50px
	float left
	width 100%
	border-top 1px solid white
	z-index 3
	position relative
	p
		margin 0
		opacity .8
		font-size 1em
	svg
		stroke none
	svg
		max-width 150px
		float left
		opacity .6
	.st1
		fill white

//form
.contact
	width 100%
	float left
	background #4f2d8c
	padding 50px
	color white
	h1
		margin-bottom 2em
	.inner
		max-width 700px
		margin 40px auto
	form
		font-size 1.45em
	.input_block
		width 100%
		margin-bottom 50px
		label
			position absolute
			left 0
			top 5px
	input,
	textarea
		background transparent
		border-bottom 4px solid white
		color white
		width 100%
		padding 10px 20px
		max-width 100%
	textarea
		border 4px solid white

.leaflet-popup-content
	font-size 1.3em
	line-height 2em

input
	-webkit-appearance none
	-moz-appearance none
	appearance none
	border-radius 0
