.home_btn
	width 40px
	height 40px
	position fixed
	left 80px
	top 39px
	z-index 3
	display block
	&:hover
		opacity 1
	svg
		width 15px
		height 15px
		margin 12px
		transition transform .2s ease-in-out
		rect
			fill #fff
.home_btn:hover
	svg
		transform scale(1.2)

.home_btn.black
	rect
		fill black

.main.home
	section
		color projectColor
		position relative
		padding homePadding
		overflow hidden
		div.box
			height 100%
			width 100%
			display flex
			flex-direction column
			border 5px solid #F8A531
			padding 0px
			overflow hidden
			div.box-content
				flex-grow 1
				height 10%
				width 100%
				display flex
				align-items center
				background-position center
				background-repeat no-repeat
				background-size 100% auto
				transition .2s ease-in-out
				background-size contain
				&:hover
					transform scale(1.05)
			div.cover
				background-size cover
			div.section-bar
				display flex
				div.text-container
					width 80%
					padding 1em
					p
						font-size 1.5em
						transition .2s ease-in-out
						font-weight 500
						em
							color black
				div.text-container.full-width
					width 100%
				div.text-container.empty
					width 0%
				div.logo-container
					flex-grow 1
					position relative
					div
						position absolute
						width 100%
						height 100%
						bottom 0px
						right 15px
						background-size contain
						background-position center
						background-repeat no-repeat
					div.funky
						height 200%
				div.logo-container.full-width
					width 100%
	div.middle-bar
		display flex
		flex-direction row-reverse

.main.agenda
	section
		padding homePadding

.text
	width 100%
	padding 80px 0
	font-size 1em
	ul
		list-style-type square
		padding-left 3em
		margin 0 0 3.14285714285714em
		li
			margin 0 0 0.785714em
	ol,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul
		font-size 1.4em
		max-width 800px
		margin-left auto
		margin-right auto
		text-transform none
	p
		color #333
		strong
			font-family 'maax', sans-serif
			font-weight 700

	p:nth-of-type(1)
		font-family: inherit
		color #7F6C6C
		font-size 1.6em
	figure
		margin 80px auto
		width 80%
		figcaption
			margin 2em
			color projectColor
			border 4px solid projectColor
			display inline-block
			padding 2em
	img
		width 100%
	figure.full
		width 100%
	figure.small
		width 40%
	figure.medium
		width 60%
		max-width 800px

footer
	padding 30px 50px
	float left
	width 100%
	border-top 1px solid white
	z-index 3
	position relative
	p
		margin 0
		opacity .8
		font-size 1em
	svg
		stroke none
	svg
		max-width 150px
		float left
		opacity .6
	.st1
		fill white

#down_btn
	cursor pointer
	width 40px
	position absolute
	left 50%
	margin-left -20px
	bottom 40px
	transition .2s ease-in-out
	&:hover
		transform scale(1.4)
	svg
		stroke none
		path
			fill #fff

.contact
	width 100%
	float left
	background #8bacf2
	padding 50px
	color white
	h1
		margin-bottom 2em
	.inner
		max-width 700px
		margin auto
	form
		font-size 1.45em
	.input_block
		width 100%
		margin-bottom 50px
		label
			position absolute
			left 0
			top 5px
	input,
	textarea
		background transparent
		border-bottom 4px solid white
		color white
		width 100%
		padding 10px 20px
		max-width 100%
	textarea
		border 4px solid white

.borderLeft
	border-left 2px solid #ccc
.borderTop
	border-top 2px solid #ccc
.borderRight
	border-right 2px solid #ccc
.borderBottom
	border-bottom 2px solid #ccc

.leaflet-popup-content
	font-size 1.3em
	line-height 2em

.news_section
	width 100%
	margin auto
	margin-bottom 100px
	display flex
	align-content flex-end
	padding 50px
	flex-wrap wrap
	.nieuws-item
		width 30%
		flex-grow 1
		margin 2% 1%
		color #333
		padding 40px 0
		margin-bottom 20px
		display block
		border-top 1px solid #f2f2f2
		h1
			margin-bottom .1em

.pagination
	width 100%
	margin 0 1% 0 1%
	padding-top 20px
	border-top 1px solid #f2f2f2
	float left
