//form
.form
  max-width maxContentWidth
  margin 0 auto
  background #522e90
  padding 20px
  color white
  h1
    margin-bottom 2em
  .inner
    max-width 700px
    margin 40px auto
  .input_block
    width 100%
    margin-bottom 2em
  .input_block.radio
    margin-bottom 0
  .radio-block
    margin-top 1em
    margin-bottom 0.5em
    width 50%
    label
      line-height 0.5em
      margin-left 15px
  .input-anders
    width 50%
  input,
  textarea
    background transparent
    border-bottom 4px solid white
    color white
    width 100%
    padding 10px 20px
    max-width 100%
  input[type=radio]
    width auto
  textarea
    border 4px solid white

#mc-embedded-subscribe-form input
  -webkit-appearance none
  -moz-appearance none
  appearance none
  border-radius 0

.radio-block
  width 100%

.form-errors
  div.alert
    max-width maxContentWidth
    padding 20px
    margin 0 auto
    color white
    font-weight 700
    ul
      li
       color white
