.logo__party
  display flex
  max-width 1200px
  margin auto
  align-items center
  li
    margin 0 auto
    width 400px
    height auto
    transition transform .15s ease-out, opacity .15s ease-out
    opacity .8;
    &:hover
      transform scale(1.05)
      opacity 1
