/* max two col */
@media only screen and (min-width : 800px) and (max-width : 1200px)
  .three-col,
  .two-col,
  .four-col
    width 50%

/* from here only one col */
@media only screen and (max-width : 800px)
  .home_btn
    top 9px
    left 50px
  .header
    .headerSign h1
      font-size 4em
  .inspiration_slider
    display none
  .sectionHeader
    padding 20px
  .ask-sjaak
    display inline-block
  body
    font-size .875em
  .inspiration_slider li .slider_caption
    width 100%
    max-width none
  .three-col,
  .four-col
    width 100%
  .two-col
    width 100%
  .header
    height 75vh
    .headerSign
      padding 15px
      font-size .6em
  .text
    padding 70px 20px
    font-size .875em
  .slide-menu
    width 100%
    left 0
    top 0
    padding 100px 30px
    font-size 1.5em
  .contact
    .input_anders
      width 100%
    .radio-block
      width 100%
    input,
    label
      font-size .875em
  .main.home
    div.middle-bar
      flex-direction column
