/* max two col */
@media only screen and (min-width : 800px) and (max-width : 1200px)
  .three-col,
  .two-col,
  .four-col
    width 50%

@media only screen and (max-width : 1000px)
  section.tagline
    div.box
      font-size 2em
  .main.home
    .blocks-b
      width 100%
  .move-on-up
  	top -100px


/* from here only one col */
@media only screen and (max-width : 800px)
  .ask-sjaak
    display inline-block
  body
    font-size .875em
  .inspiration_slider li .slider_caption
    width 100%
    max-width none
  .three-col,
  .four-col
    width 100%
  .two-col
    width 100%
  .slide-menu
    width 100%
    left 0
    top 0
    padding 40px 30px
    font-size 1.25em
  .contact
    .input-anders
      width 100%
    .radio-block
      width 100%
      label
        line-height 1em
    input,
    label
      font-size .875em
    div.middle-bar
      flex-direction column
  .main.agenda
    section
      .box
        flex-direction column
        .info-left
          width 100%
          justify-content space-between
          display flex
          .location
            margin-bottom 15px
            width auto
          .date
            width auto
        .info-right
          margin-left 0px
  .form-errors
    div.alert
      width 100%
      padding 20px 0px
  .form
    width 100%
    padding 20px 0px
    .radio-block
      width 100%
  .move-on-up
    position relative
    top 0px
  .main.agenda-item, .main.news-item
    section
      padding: 20px 60px;

/* from here only one col */
@media only screen and (max-width : 600px)
  h1
    font-size 2em
  .main.agenda
    section
      .box
        .info-right
          flex-direction column-reverse
          .image
            height 100px
            width 100%
          .short-info
            width 100%
  .main.news
    section
      .box
        flex-direction column-reverse
        .image
          height 150px
          width 100%
        .short-info
          width 100%
  .partners
    display flex
    flex-direction column
    a
      width 100%

@media only screen and (max-width : 500px)
  section.sjaak
    flex-direction column-reverse

@media only screen and (max-width : 400px)
  .main.home
    padding 0px 20px
    section
      div.box.tagline
        font-size 1.25em
      div.box
        div.section-bar
          div.text-container
            p
              font-size 1em
  .logo-bar
    padding 20px 40px
