/* max two col */
@media only screen and (min-width : 800px) and (max-width : 1200px)
  .three-col,
  .two-col,
  .four-col
    width 50%

/* from here only one col */
@media only screen and (max-width : 1000px)
  section.tagline
    div.box
      font-size 2em

/* from here only one col */
@media only screen and (max-width : 800px)
  .ask-sjaak
    display inline-block
  body
    font-size .875em
  .inspiration_slider li .slider_caption
    width 100%
    max-width none
  .three-col,
  .four-col
    width 100%
  .two-col
    width 100%
  .slide-menu
    width 100%
    left 0
    top 0
    padding 100px 30px
    font-size 1.5em
  .contact
    .input_anders
      width 100%
    .radio-block
      width 100%
    input,
    label
      font-size .875em
  .main.home
    div.middle-bar
      flex-direction column
  .main.agenda
    section
      .box
        flex-direction column
        .info-left
          width 100%
          justify-content space-between
          display flex
          .location
            margin-bottom 15px
            width auto
          .date
            width auto
        .info-right
          margin-left 0px

/* from here only one col */
@media only screen and (max-width : 600px)
  .main.agenda
    section
      .box
        .info-right
          flex-direction column-reverse
          .image
            height 100px
            width 100%
  .main.news
    section
      .box
        flex-direction column-reverse
        .image
          height 150px
          width 100%

@media only screen and (max-width : 400px)
  section.sjaak
    flex-direction column-reverse
