.noScroll
  overflow hidden

.slide-menu
  position fixed
  left 0
  top 0
  height 100vh
  width 100vw
  background #fff
  color #000
  overflow scroll
  padding 80px
  z-index 4
  font-size 1.6em
  text-align center
  font-family 'brandon_textbold', sans-serif
  transition transform .1s ease-in-out, opacity .2s ease-in-out
  ul
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
  li
    a
      color #333
      padding 10px
      display inline-block
      transition transform .1s ease-in-out
      &:hover
        transform scale(1.2)
        
.slide-menu.closed
  visibility hidden 
  transform scale(.95)
  opacity 0
.slide-menu.open
  visibility visible
  transform scale(1)
  opacity 1

.slide-menu.top
  width 100vw
.slide-menu.top.closed
  transform translateY(-100%)

.slide-menu.top.open
  transform translateY(0%)
  
.hamburger-menu
  top 50px
  left 50px
  z-index 9
  box-sizing border-box
  width 40px
  height 40px
  position fixed
  transform rotate(0deg)
  transition .5s ease-in-out
  cursor pointer
  &:hover
    .habmburer__inner
      span
        transform scale (2)
  .habmburer__inner
    span
      display block
      position absolute
      height 2px
      width 25px
      background white
      opacity 1
      left 0
      transform rotate(0deg)
      transition .25s ease-in-out
      
.hamburger-menu.open
  z-index 9
  
.hamburger-menu span:nth-child(1) 
  top 0px
  transform-origin left center


.hamburger-menu span:nth-child(2) 
  top 7px
  transform-origin left center

.hamburger-menu span:nth-child(3) 
  top 14px
  transform-origin left center

.open span:nth-child(1) 
  transform rotate(45deg)
  top -2px
  left 0px

.hamburger-menu.open span:nth-child(2) 
  width 0%
  opacity 0

.hamburger-menu.open span:nth-child(3) 
  transform rotate(-45deg)
  top 16px
  left 0px
  
.hamburger-menu.open
  span
    background black