.noScroll
  overflow hidden

.slide-menu
  ul
    list-style none
  position fixed
  right homePadding
  top 10px
  width auto
  background projectColor
  color #fff
  overflow auto
  padding 80px
  z-index 8
  font-size 1.6em
  transform-origin top right
  text-align left
  font-family 'brandon-grotesque', sans-serif
  font-weight 700
  transition transform .2s ease-in-out, opacity .01s ease-in-out
  box-shadow 0 4px 8px rgba(0,0,0,.2)
  li
    a
      color #fff
      padding 10px 0
      display inline-block
      transition transform .1s ease-in-out
      transform-origin left center
      &:hover
        transform scale(1.1)

.slide-menu.closed
  visibility hidden
  transform scale(.85)
  opacity 0
.slide-menu.open
  visibility visible
  transform scale(1)
  opacity 1

.slide-menu.top
  width 100vw
.slide-menu.top.closed
  transform translateY(-100%)

.slide-menu.top.open
  transform translateY(0%)

.hamburger-menu
  top homePadding
  right homePadding
  z-index 9
  box-sizing border-box
  width 25px
  height 25px
  position fixed
  transform rotate(0deg)
  transition .5s ease-in-out
  cursor pointer
  &:hover
    .habmburer__inner
      span
        transform scale (2)
  .habmburer__inner
    span
      display block
      position absolute
      height 2px
      width 25px
      background #F8A531
      opacity 1
      left 0
      transform rotate(0deg)
      transition transform .25s ease-in-out, top .25s ease-in-out, left .25s ease-in-out, width .25s ease-in-out, opacity .25s ease-in-out


.hamburger-menu.open
  .habmburer__inner
    span
      background white


.hamburger-menu.open
  z-index 9

.hamburger-menu span:nth-child(1)
  top 0px
  transform-origin left center


.hamburger-menu span:nth-child(2)
  top 7px
  transform-origin left center

.hamburger-menu span:nth-child(3)
  top 14px
  transform-origin left center

.open span:nth-child(1)
  transform rotate(45deg)
  top -2px
  left 0px

.hamburger-menu.open span:nth-child(2)
  width 0%
  opacity 0

.hamburger-menu.open span:nth-child(3)
  transform rotate(-45deg)
  top 16px
  left 0px
