.stamp-item
  position relative

.stamp-item-stamp
  position absolute
  width 405px
  height 36px
  opacity 0.8
  bottom 50px
  right 50px

h2.maakweek-stamp
  font-size 2em
  padding-top 0.5em
  font-family 'polya', sans-serif
  font-size 2em
  -webkit-font-smoothing antialiased
  -webkit-text-stroke-width: .008em;
  -webkit-text-stroke-color: rgb(255, 123, 123);
  color rgb(0, 123, 123)
  font-weight 400
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0em;
  -webkit-margin-end: 0em;
  position: absolute;
  margin-top: -2em;

.main h2.maakweek-stamp
  position: initial;
  margin-left: auto;
  margin-right: auto;
