.stamp-item
  position relative

.stamp-item-stamp
  position absolute
  width 405px
  height 36px
  opacity 0.8
  bottom 50px
  right 50px     

h2.maakweek-stamp
  font-size 2em
  color #7358ff
  padding-top 0.5em
  font-family 'polya', sans-serif
  font-size 2em
  -webkit-font-smoothing antialiased
  -webkit-text-stroke-width: .008em;
  -webkit-text-stroke-color: rgb(255, 123, 123);
  color rgb(255, 123, 123)
  font-weight 400
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0em;
  -webkit-margin-end: 0em;
