projectFont = 'radikal',sans-serif
projectFontThickness = 300
heroFontSize = 1.5em
hoverOpacity = 1
useShadow = true
shadowColor = rgb(10,10,10)
homePadding = 20px

maxContentWidth = 800px
bodyColor = #f2f2f2
projectDarkColor = #000000
defaultLinkColor = #f8a531
secondaryProjectColor = #0c0633
projectColor = #f6a500
callToColor = #ff7b7b
buttonTextColor = canvas
darkProjectColor = darken(projectColor, 20)
lightProjectColor = lighten(projectColor, 20)
purple = rgb(173,107,130)
lightgrey = rgb(237,235,235)
mediumgrey = rgb(102,102,102)
darkGrey = #333
canvas = white
canvas-vivid = white
canvas-hard = white
canvas-soft = #eee
canvas-dim = #ddd
content = #000
feature = blue
primary = navy
secondary = darken(projectColor, 20% )
glow = rgba(255,255,255,.6)
shade = rgba(0,0,0,.4)
wrapperWidth = 600px
